### Importing Required Libraries

In this section, we import all the necessary libraries that will be used throughout thpreprocessingis. These libraries provide various functions for data manipulatis.

In [39]:
import pandas as pd
import numpy as np
import pyodbc
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML

### Data Loading and Initial Exploration

In this section, we load the various datasets required for the analysis, including education levels, employee information, performance ratings, and satisfaction levels. After loading the data, we conduct an initial exploration to inspect the structure of each dataset and identify any missing values or unique entries within key columns.

#### 1. Loading the Datasets
We import the following CSV files:
- **EducationLevel.csv**: Contains information about the education levels of employees.
- **Employee.csv**: Contains detailed employee data, including demographic and job-related information.
- **PerformanceRating.csv**: Includes performance and satisfactions ratings for employees.
- **RatingLevel.csv**: Contains the rating levels associated with performance.
- **SatisfiedLevcontains: Captures the satisfaction levels of employees.

#### 2. Displaying the First Few Rows
We review the first few rows of each dataset to understand the structure and the types of data we're working with. This helps us ensure that the data is loaded correctly and provides an initial glimpse into the dataset.

#### 3. Checking for Missing Values
We perform a check across all datasets to detect any missing or null values. This step is crucial to ensure data quality and to determine whether any imputation or cleaning is needed before proceeding with the analysis.

#### 4. Unique Value Counts for Key Columns
For certain columns in the **Employee** and **PerformanceRating** datasets, we calculate the number of unique values. This gives us insights into the diversity of the data, such as the variety of job roles, departments, or performance ratings present.

#### 5. Listing Unique Values for Specific Columns
We extract and display the unique values for several important categorical columns from the **Employee** dataset, including:
- Gender
- BusinessTravel
- Department
- JobRole
- State
- Ethnicity
- EducationField

This helps us understand the range of categories present in each of these attributes, whpreprocessing be useful for further analysis.
.

In [2]:
# Load the datasets
education_df = pd.read_csv('C:/Users/hadye/OneDrive/Desktop/depi/Final Project HR/HR/EducationLevel.csv')
employee_df = pd.read_csv('C:/Users/hadye/OneDrive/Desktop/depi/Final Project HR/HR/Employee.csv')
performance_df = pd.read_csv('C:/Users/hadye/OneDrive/Desktop/depi/Final Project HR/HR/PerformanceRating.csv')
rating_df = pd.read_csv('C:/Users/hadye/OneDrive/Desktop/depi/Final Project HR/HR/RatingLevel.csv')
satisfaction_df = pd.read_csv('C:/Users/hadye/OneDrive/Desktop/depi/Final Project HR/HR/SatisfiedLevel.csv')

# Displaying the first few rows of each dataset to inspect the structure
education_df_head = education_df.head()
employee_df_head = employee_df.head()
performance_df_head = performance_df.head()
rating_df_head = rating_df.head()
satisfaction_df_head = satisfaction_df.head()

education_df_head, employee_df_head, performance_df_head, rating_df_head, satisfaction_df_head

(   EducationLevelID            EducationLevel
 0                 1  No Formal Qualifications
 1                 2              High School
 2                 3                Bachelors
 3                 4                  Masters
 4                 5                 Doctorate,
   EmployeeID   FirstName LastName      Gender  Age BusinessTravel  \
 0  3012-1A41    Leonelle    Simco      Female   30    Some Travel
 1  CBCB-9C9D     Leonerd    Aland        Male   38    Some Travel
 2  95D7-1CE9       Ahmed    Sykes        Male   43    Some Travel
 3  47A0-559B  Ermentrude   Berrie  Non-Binary   39    Some Travel
 4  42CC-040A       Stace   Savege      Female   29    Some Travel

         Department  DistanceFromHome (KM) State                Ethnicity  ...  \
 0            Sales                     27    IL                    White  ...
 1            Sales                     23    CA                    White  ...
 2  Human Resources                     29    CA  Asian or Asian American  ...
 3       Technology                     12    IL                    White  ...
 4  Human Resources                     29    CA                    White  ...

    MaritalStatus  Salary StockOptionLevel OverTime    HireDate  Attrition  \
 0       Divorced  102059                1       No  2012-01-03         No
 1         Single  157718                0      Yes  2012-01-04         No
 2        Married  309964                1       No  2012-01-04         No
 3        Married  293132                0       No  2012-01-05         No
 4         Single   49606                0       No  2012-01-05        Yes

   YearsAtCompany YearsInMostRecentRole YearsSinceLastPromotion  \
 0             10                     4                       9
 1             10                     6                      10
 2             10                     6                      10
 3             10                    10                      10
 4              6                     1                       1

    YearsWithCurrManager
 0                     7
 1                     0
 2                     8
 3                     0
 4                     6

 [5 rows x 23 columns],
   PerformanceID EmployeeID ReviewDate  EnvironmentSatisfaction  \
 0          PR01  79F7-78EC   1/2/2013                        5
 1          PR02  B61E-0F26   1/3/2013                        5
 2          PR03  F5E3-48BB   1/3/2013                        3
 3          PR04  0678-748A   1/4/2013                        5
 4          PR05  541F-3E19   1/4/2013                        5

    JobSatisfaction  RelationshipSatisfaction  TrainingOpportunitiesWithinYear  \
 0                4                         5                                1
 1                4                         4                                1
 2                4                         5                                3
 3                3                         2                                2
 4                2                         3                                1

    TrainingOpportunitiesTaken  WorkLifeBalance  SelfRating  ManagerRating
 0                           0                4           4              4
 1                           3                4           4              3
 2                           2                3           5              4
 3                           0                2           3              2
 4                           0                4           4              3  ,
    RatingID           RatingLevel
 0         1          Unacceptable
 1         2     Needs Improvement
 2         3     Meets Expectation
 3         4  Exceeds Expectation
 4         5      Above and Beyond,
    SatisfactionID  SatisfactionLevel
 0               1  Very Dissatisfied
 1               2       Dissatisfied
 2               3            Neutral
 3               4         Satisfied
 4               5     Very Satisfied)

In [3]:
# Check for missing values in all datasets
missing_education = education_df.isnull().sum()
missing_employee = employee_df.isnull().sum()
missing_performance = performance_df.isnull().sum()
missing_rating = rating_df.isnull().sum()
missing_satisfaction = satisfaction_df.isnull().sum()

missing_education, missing_employee, missing_performance, missing_rating, missing_satisfaction

(EducationLevelID    0
 EducationLevel      0
 dtype: int64,
 EmployeeID                 0
 FirstName                  0
 LastName                   0
 Gender                     0
 Age                        0
 BusinessTravel             0
 Department                 0
 DistanceFromHome (KM)      0
 State                      0
 Ethnicity                  0
 Education                  0
 EducationField             0
 JobRole                    0
 MaritalStatus              0
 Salary                     0
 StockOptionLevel           0
 OverTime                   0
 HireDate                   0
 Attrition                  0
 YearsAtCompany             0
 YearsInMostRecentRole      0
 YearsSinceLastPromotion    0
 YearsWithCurrManager       0
 dtype: int64,
 PerformanceID                      0
 EmployeeID                         0
 ReviewDate                         0
 EnvironmentSatisfaction            0
 JobSatisfaction                    0
 RelationshipSatisfaction           0
 TrainingOpportunitiesWithinYear    0
 TrainingOpportunitiesTaken         0
 WorkLifeBalance                    0
 SelfRating                         0
 ManagerRating                      0
 dtype: int64,
 RatingID       0
 RatingLevel    0
 dtype: int64,
 SatisfactionID       0
 SatisfactionLevel    0
 dtype: int64)

In [5]:
# Calculate the number of unique values for each column in the employee and performance_rating dataframes
unique_values_employee = employee_df.nunique()
unique_values_performance = performance_df.nunique()

# Display the results
print("Unique Values in Employee Dataset:")
print(unique_values_employee)

print("\nUnique Values in Performance Rating Dataset:")
print(unique_values_performance)

Unique Values in Employee Dataset:
EmployeeID                 1470
FirstName                  1334
LastName                   1441
Gender                        4
Age                          34
BusinessTravel                3
Department                    3
DistanceFromHome (KM)        45
State                         3
Ethnicity                     7
Education                     5
EducationField                9
JobRole                      13
MaritalStatus                 3
Salary                     1455
StockOptionLevel              4
OverTime                      2
HireDate                   1192
Attrition                     2
YearsAtCompany               11
YearsInMostRecentRole        11
YearsSinceLastPromotion      11
YearsWithCurrManager         11
dtype: int64

Unique Values in Performance Rating Dataset:
PerformanceID                      6709
EmployeeID                         1280
ReviewDate                         2771
EnvironmentSatisfaction               5
JobSatisfaction                       5
RelationshipSatisfaction              5
TrainingOpportunitiesWithinYear       3
TrainingOpportunitiesTaken            4
WorkLifeBalance                       5
SelfRating                            3
ManagerRating                         4
dtype: int64

In [6]:
# Return the unique values for specified columns in the employee dataframe
unique_values_columns = {
    'Gender': employee_df['Gender'].unique(),
    'BusinessTravel': employee_df['BusinessTravel'].unique(),
    'Department': employee_df['Department'].unique(),
    'JobRole': employee_df['JobRole'].unique(),
    'State': employee_df['State'].unique(),
    'Ethnicity': employee_df['Ethnicity'].unique(),
    'EducationField': employee_df['EducationField'].unique()
}

# Display the unique values for the specified columns
for column, values in unique_values_columns.items():
    print(f"Unique values in {column}:")
    print(values)
    print("\n")

Unique values in Gender:
['Female' 'Male' 'Non-Binary' 'Prefer Not To Say']


Unique values in BusinessTravel:
['Some Travel' 'No Travel ' 'Frequent Traveller']


Unique values in Department:
['Sales' 'Human Resources' 'Technology']


Unique values in JobRole:
['Sales Executive' 'HR Business Partner' 'Engineering Manager' 'Recruiter'
 'Data Scientist' 'Machine Learning Engineer' 'Manager'
 'Software Engineer' 'Senior Software Engineer' 'Sales Representative'
 'Analytics Manager' 'HR Executive' 'HR Manager']


Unique values in State:
['IL' 'CA' 'NY']


Unique values in Ethnicity:
['White' 'Asian or Asian American' 'Mixed or multiple ethnic groups'
 'Black or African American' 'Native Hawaiian ' 'Other '
 'American Indian or Alaska Native']


Unique values in EducationField:
['Marketing' 'Marketing ' 'Computer Science' 'Technical Degree'
 'Information Systems' 'Other' 'Economics' 'Human Resources'
 'Business Studies']

### Data Preprocessing

In this section, we perform data preprocessing to ensure that the datasets are clean, consistent, and ready for analysis. This includes handling data formatting issues, merging datasets, filtering out-of-range data, and modifying data types for better consistency.

#### 1. Removing Extra Spaces from Categorical Columns
We begin by cleaning up the **EducationField** column in the employee dataset. Extra spaces in categorical data can cause inconsistencies, so we strip any leading or trailing spaces to standardize the values.

- **Action**: Removed leading and trailing spaces in the `EducationField` column to ensure consistency.

#### 2. Calculating Attrition Year and Filtering Out-of-Range Performance Reviews
Next, we calculate the year of employee attrition by adding the **YearsAtCompany** to the **HireYear**. This allows us to filter performance reviews that fall outside the employee's hire and attrition period.

- **Steps**:
  1. Created a new column `HireYear` by extracting the year from the `HireDate`.
  2. Calculated the `AttritionYear` by adding the **YearsAtCompany** to the `HireYear`.
  3. Converted the `ReviewDate` in the performance ratings dataset to a datetime format for easier comparison.
  4. Merged the employee dataset with the performance dataset to include the `HireYear` and `AttritionYear`.
  5. Filtered out performance reviews that fall outside the employee's employment period.
  6. Dropped the intermediate `HireYear` and `AttritionYear` columns after filtering.

- **Result**: Performance reviews are now filtered to only include valid data within the employee's hire and attrition period.

#### 3. Verifying Data Types
It is essential to ensure that all columns have the correct data types, particularly for date fields and categorical columns. We display the data types for each column in all the datasets, making sure that they align with the expected formats.

- **Actions**:
  - Displayed the data types for columns in the **employee_df**, **performance_df**, **education_df**, **rating_df**, and **satisfaction_df** datasets.
  - Converted the `HireDate` column in the employee dataset to datetime format to enable proper time-based operations.

This preprocessing step ensures that all the necessary adjustments and transformations have been applied to the data, setting the stage for further analysis.

In [7]:
# Remove spaces from the 'EducationField' column
employee_df['EducationField'] = employee_df['EducationField'].str.strip()

# Check the unique values again to ensure the spaces have been removed
unique_education_field = employee_df['EducationField'].unique()

print(unique_education_field)

['Marketing' 'Computer Science' 'Technical Degree' 'Information Systems'
 'Other' 'Economics' 'Human Resources' 'Business Studies']

In [8]:
# Add a new column 'AttritionYear' by adding the year of the 'HireDate' to 'YearsAtCompany'
employee_df['HireYear'] = pd.to_datetime(employee_df['HireDate']).dt.year
employee_df['AttritionYear'] = employee_df['HireYear'] + employee_df['YearsAtCompany']

In [9]:
# Convert 'ReviewDate' in performance rating dataframe to datetime for comparison
performance_df['ReviewDate'] = pd.to_datetime(performance_df['ReviewDate'])

# Merge the employee_df with performance_df to get the hire and attrition year for each employee
performance_merged = pd.merge(performance_df, employee_df[['EmployeeID', 'HireYear', 'AttritionYear']], on='EmployeeID', how='left')

# Filter out rows where the review date is out of the employee's hire and attrition year range
performance_df_filtered = performance_merged[
    (performance_merged['ReviewDate'].dt.year >= performance_merged['HireYear']) &
    (performance_merged['ReviewDate'].dt.year <= performance_merged['AttritionYear'])
]

# Drop the extra columns ('HireYear' and 'AttritionYear') from the filtered dataframe
performance_df_filtered = performance_df_filtered.drop(columns=['HireYear', 'AttritionYear'])

# Assign the filtered dataframe back to performance_df
performance_df = performance_df_filtered

In [11]:
print("\nUnique Values in Performance Rating Dataset before filtering:")
print(unique_values_performance)
unique_values_performance = performance_df.nunique()
print("\nUnique Values in Performance Rating Dataset after filtering:")
print(unique_values_performance)

Unique Values in Performance Rating Dataset before filtering:
PerformanceID                      6709
EmployeeID                         1280
ReviewDate                         2771
EnvironmentSatisfaction               5
JobSatisfaction                       5
RelationshipSatisfaction              5
TrainingOpportunitiesWithinYear       3
TrainingOpportunitiesTaken            4
WorkLifeBalance                       5
SelfRating                            3
ManagerRating                         4
dtype: int64

Unique Values in Performance Rating Dataset after filtering:
PerformanceID                      5136
EmployeeID                         1235
ReviewDate                         2403
EnvironmentSatisfaction               5
JobSatisfaction                       5
RelationshipSatisfaction              5
TrainingOpportunitiesWithinYear       3
TrainingOpportunitiesTaken            4
WorkLifeBalance                       5
SelfRating                            3
ManagerRating                         4
dtype: int64

In [13]:
# Display data types for all columns in employee_df
print("Employee DataFrame column data types:")
print(employee_df.dtypes)
print("\n")

# Display data types for all columns in performance_df
print("Performance DataFrame column data types:")
print(performance_df.dtypes)
print("\n")

# Display data types for all columns in education_df
print("Education DataFrame column data types:")
print(education_df.dtypes)
print("\n")

# Display data types for all columns in rating_df
print("Rating DataFrame column data types:")
print(rating_df.dtypes)
print("\n")

# Display data types for all columns in satisfaction_df
print("Satisfaction DataFrame column data types:")
print(satisfaction_df.dtypes)
print("\n")

Employee DataFrame column data types:
EmployeeID                 object
FirstName                  object
LastName                   object
Gender                     object
Age                         int64
BusinessTravel             object
Department                 object
DistanceFromHome (KM)       int64
State                      object
Ethnicity                  object
Education                   int64
EducationField             object
JobRole                    object
MaritalStatus              object
Salary                      int64
StockOptionLevel            int64
OverTime                   object
HireDate                   object
Attrition                  object
YearsAtCompany              int64
YearsInMostRecentRole       int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
HireYear                    int32
AttritionYear               int64
dtype: object


Performance DataFrame column data types:
PerformanceID                              object
EmployeeID                                 object
ReviewDate                         datetime64[ns]
EnvironmentSatisfaction                     int64
JobSatisfaction                             int64
RelationshipSatisfaction                    int64
TrainingOpportunitiesWithinYear             int64
TrainingOpportunitiesTaken                  int64
WorkLifeBalance                             int64
SelfRating                                  int64
ManagerRating                               int64
dtype: object


Education DataFrame column data types:
EducationLevelID     int64
EducationLevel      object
dtype: object


Rating DataFrame column data types:
RatingID        int64
RatingLevel    object
dtype: object


Satisfaction DataFrame column data types:
SatisfactionID        int64
SatisfactionLevel    object
dtype: object

In [14]:
# Change 'HireDate' in employee_df to datetime format
employee_df['HireDate'] = pd.to_datetime(employee_df['HireDate'])

### SQL Integration Phase

In this phase, we connect to a SQL Server to upload the cleaned data and extract insights using SQL queries directly from the Jupyter notebook. This allows for efficient querying, data manipulation, and deeper analysis using SQL.

#### 1. Establishing Connection to SQL Server
We first establish a connection to the SQL Server using **SQLAlchemy** and **ODBC**. This connection allows us to interact with the SQL Server from the notebook and perform operations such as uploading data and running queries.

- **Connection String**: 
  - We define the connection string parameters including the server name, database name, and the authentication mode (Trusted Connection).
  - **Server**: `HADY`
  - **Database**: `HR final Project`
  - **ODBC Driver**: `{ODBC Driver 17 for SQL Server}`

#### 2. Uploading DataFrames to SQL Server
Once the connection is established, we upload the preprocessed dataframes into SQL Server as tables. This ensures that all datasets are now stored within the SQL database, making them available for further SQL-based analysis.

- **Tables Created**:
  - `Education`: Contains education-related data.
  - `Employee`: Contains employee demographic and job-related data.
  - `PerformanceRating`: Includes employee performance ratings.
  - `RatingLevel`: Stores the rating levels used in performance evaluations.
  - `SatisfactionLevel`: Contains employee satisfaction levels.

  We use the `to_sql()` function to upload the dataframes into the SQL Server, with the option `if_exists='replace'` to ensure that any existing tables with the same names are replaced by the new data.

#### 3. Extracting Insights Using SQL Queries
After successfully uploading the data, we can start executing SQL queries within the notebook to extract insights from the data. The SQL queries can now be run directly against the SQL Server database, taking advantage of SQL's powerful querying capabilities to generate insights for further analysis.

This integration provides the flexibility to use both Python and SQL in a seamless workflow, enhancing data analysis efficiency.

In [35]:
# Define connection string
conn_str = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=HADY;'      
    r'DATABASE=HR final Project;'  
    r'Trusted_Connection=yes;'       
)

# Create a connection using SQLAlchemy
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={conn_str}")

In [16]:
# Upload DataFrames to SQL Server
education_df.to_sql('Education', con=engine, if_exists='replace', index=False)
employee_df.to_sql('Employee', con=engine, if_exists='replace', index=False)
performance_df.to_sql('PerformanceRating', con=engine, if_exists='replace', index=False)
rating_df.to_sql('RatingLevel', con=engine, if_exists='replace', index=False)
satisfaction_df.to_sql('SatisfactionLevel', con=engine, if_exists='replace', index=False)

5

### Salary Insights

In this section, we use SQL queries to extract insights related to employee salaries. These insights include average salary by department and job role, salary breakdown by age group and gender, and an analysis of the correlation between salary and performance ratings. The results of these queries are displayed in a scrollable format for better readability.

#### 1. Average Salary by Department and Job Role
We begin by calculating the average salary across all departments and job roles. The query computes the average salary for each department as well as the breakdown by individual job roles within each department.

- **SQL Query**: 
    - First, we calculate the average salary for each department.
    - Then, we compute the average salary for each combination of department and job role.
    - Results are ordered by department and job role for easier comparison.

#### 2. Salary and Experience by Age Group and Gender
Next, we investigate how salary, along with various experience-related metrics, differs by age group and gender for employees who have not left the company (i.e., **Attrition = 'No'**). The query provides average years at the company, years in the most recent role, years since last promotion, years with the current manager, and average salary for each age group and gender.

- **SQL Query**:
    - The data is grouped by age and gender.
    - The analysis includes employees who have not left the company (Attrition = 'No').

#### 3. Average Salary by Department, Job Role, Education Level, and Business Travel
We also analyze how salary varies across different departments, job roles, education levels, and business travel frequency for employees who are still active (Attrition = 'No'). This query helps us understand the impact of education and travel requirements on compensation within each role and department.

- **SQL Query**:
    - The data is grouped by department, job role, education level, and business travel frequency.
    - Employees with **Attrition = 'No'** are included in the analysis.

#### 4. Correlation Between Salary and Manager Rating
Finally, we examine whether there is any correlation between salary and manager rating. This query retrieves active employees' average manager ratings, their job roles, and salaries, and orders the results by job role and salary to see if higher-performing employees tend to have higher salaries.

- **SQL Query**:
    - We calculate the average manager rating for each employee.
    - The results are grouped by job role and ordered by salary in descending order to analyze potential correlations.

#### Displaying Results
For each query, the results are loaded into a Pandas DataFrame and displayed in a scrollable format, allowing for easier inspection of large datasets within the notebook environment.

In [82]:
# Average salary by department and job role
query = """
SELECT 
    Department, 
    'ALL' AS JobRole, 
    AVG(Salary) AS AvgSalary
FROM Employee
WHERE Attrition = 'No'
GROUP BY Department

UNION ALL

SELECT 
    Department, 
    JobRole, 
    AVG(Salary) AS AvgSalary
FROM Employee
WHERE Attrition = 'No'
GROUP BY JobRole, Department
ORDER BY Department,JobRole;

"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [59]:

# age group gender avg years count and avg salary  attrition = no
query = """
SELECT 
    age AS AgeGroup, 
    gender AS Gender, 
    AVG(YearsAtCompany) AS AVGYearsAtCompany, 
    AVG(YearsInMostRecentRole) AS AVGYearsInMostRecentRole, 
    AVG(YearsSinceLastPromotion) AS AVGYearsSinceLastPromotion, 
    AVG(YearsWithCurrManager) AS AVGYearsWithCurrManager,
	COUNT(*) AS EmployeeCount, 
	AVG(Salary) AS AVGSalary
FROM Employee
WHERE Attrition = 'No'
GROUP BY age, gender
ORDER BY age ASC, gender ASC;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [60]:

# department jobrole edu level business travel emp count and avg salary attrition = no
query = """
SELECT   
	e.Department,
	e.JobRole,
	ed.EducationLevel,
	e.BusinessTravel,
    COUNT(*) AS EmployeeCount, 
    AVG(salary) AS AVGEmployeeSalary
FROM Employee e
JOIN Education ed ON e.Education = ed.EducationLevelID
WHERE e.Attrition = 'No'
GROUP BY  e.BusinessTravel, e.Department, e.JobRole, ed.EducationLevel
ORDER BY e.JobRole ,ed.EducationLevel, AVGEmployeeSalary ASC;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [77]:

# Retrieve Active Employees with Average Manager Rating, Job Role, and Salary, Ordered by Job Role and Salary ( is there correlation between salary and performance)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    CONCAT(FirstName, ' ', LastName) AS FullName,
    e.JobRole,
    ea.AVGManagerRating,
    e.Salary
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.FirstName, e.LastName, e.JobRole, e.Salary, ea.AVGManagerRating
ORDER BY e.JobRole, e.Salary DESC;

"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

### Employee Satisfaction Insights

In this section, we utilize SQL queries to analyze employee satisfaction across various dimensions such as department, job role, age group, gender, and ethnicity. The goal is to identify trends in employee satisfaction and uncover areas where improvement may be needed. We also explore the relationship between employee satisfaction and performance ratings.

#### 1. High Satisfaction by Department and Job Role (Average >= 3)
This query groups employees by department and job role, displaying those with average satisfaction scores (environment, job, relationship, and work-life balance) greater than or equal to 3. Employees with high satisfaction are important to identify for retaining top talent.

- **Metrics Calculated**:
  - Average Environment Satisfaction
  - Average Job Satisfaction
  - Average Relationship Satisfaction
  - Average Work-Life Balance
  - Employee Count per group

#### 2. Low Satisfaction by Department and Job Role (Average < 3)
This query is similar to the one above, but focuses on employees whose satisfaction scores are below 3. Identifying areas with low satisfaction helps pinpoint departments and roles where interventions may be necessary to improve employee engagement and retention.

- **Metrics Calculated**:
  - Average Environment Satisfaction
  - Average Job Satisfaction
  - Average Relationship Satisfaction
  - Average Work-Life Balance
  - Employee Count per group

#### 3. High Satisfaction by Age Group, Gender, and Ethnicity (Average >= 3)
In this query, employees are grouped by age, gender, and ethnicity, and the average satisfaction scores are calculated for each group. This helps reveal any demographic patterns in employee satisfaction, ensuring that all groups are receiving a positive work experience.

- **Metrics Calculated**:
  - Average Environment Satisfaction
  - Average Job Satisfaction
  - Average Relationship Satisfaction
  - Average Work-Life Balance
  - Employee Count per group

#### 4. Low Satisfaction by Age Group, Gender, and Ethnicity (Average < 3)
This query identifies age, gender, and ethnicity groups with low satisfaction scores. It helps in uncovering demographic groups that may require attention to improve their work experience and engagement levels.

- **Metrics Calculated**:
  - Average Environment Satisfaction
  - Average Job Satisfaction
  - Average Relationship Satisfaction
  - Average Work-Life Balance
  - Employee Count per group

#### 5. Highly Rated Employees with Low Satisfaction
This query focuses on employees who receive high performance ratings from their managers (average rating >= 4), but report low satisfaction in terms of environment, job, relationships, or work-life balance (average satisfaction < 3 in any category). These employees are critical to identify, as they may be at risk of attrition despite being high performers.

- **Metrics Calculated**:
  - Average Environment Satisfaction
  - Average Job Satisfaction
  - Average Relationship Satisfaction
  - Average Work-Life Balance
  - Average Manager Rating

#### Displaying Results
For each of the above queries, the results are loaded into a Pandas DataFrame and displayed in a scrollable format, allowing for easier inspection and analysis of the data within the notebook environment.

In [64]:

# group emp average satisfaction then group employees by department and job role (>=3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.EnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
        AVG(p.JobSatisfaction) AS AVGJobSatisfaction,
        AVG(p.RelationshipSatisfaction) AS AVGRelationshipSatisfaction,
        AVG(p.WorkLifeBalance) AS AVGWorkLifeBalance
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Department,
    e.JobRole,
    AVG(ea.AVGEnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
    AVG(ea.AVGJobSatisfaction) AS AVGJobSatisfaction,
    AVG(ea.AVGRelationshipSatisfaction) AS AVGRelationshipSatisfaction,
    AVG(ea.AVGWorkLifeBalance) AS AVGWorkLifeBalance,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition ='No'
GROUP BY e.Department, e.JobRole
HAVING AVG(ea.AVGEnvironmentSatisfaction) >= 3 
    AND AVG(ea.AVGJobSatisfaction) >= 3
    AND AVG(ea.AVGRelationshipSatisfaction) >= 3
    AND AVG(ea.AVGWorkLifeBalance) >= 3
ORDER BY e.Department, e.JobRole;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [63]:

# group emp average satisfaction then group employees by department and job role (<3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.EnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
        AVG(p.JobSatisfaction) AS AVGJobSatisfaction,
        AVG(p.RelationshipSatisfaction) AS AVGRelationshipSatisfaction,
        AVG(p.WorkLifeBalance) AS AVGWorkLifeBalance
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Department,
    e.JobRole,
    AVG(ea.AVGEnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
    AVG(ea.AVGJobSatisfaction) AS AVGJobSatisfaction,
    AVG(ea.AVGRelationshipSatisfaction) AS AVGRelationshipSatisfaction,
    AVG(ea.AVGWorkLifeBalance) AS AVGWorkLifeBalance,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition ='No'
GROUP BY e.Department, e.JobRole
HAVING AVG(ea.AVGEnvironmentSatisfaction) < 3 
    OR AVG(ea.AVGJobSatisfaction) < 3
    OR AVG(ea.AVGRelationshipSatisfaction) < 3
    OR AVG(ea.AVGWorkLifeBalance) < 3
ORDER BY e.Department, e.JobRole;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [68]:

# group emp average satisfaction then group employees by gender, age and ethnicity (>=3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.EnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
        AVG(p.JobSatisfaction) AS AVGJobSatisfaction,
        AVG(p.RelationshipSatisfaction) AS AVGRelationshipSatisfaction,
        AVG(p.WorkLifeBalance) AS AVGWorkLifeBalance
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Age AS AgeGroup,
    e.Gender,
	e.Ethnicity,
    AVG(ea.AVGEnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
    AVG(ea.AVGJobSatisfaction) AS AVGJobSatisfaction,
    AVG(ea.AVGRelationshipSatisfaction) AS AVGRelationshipSatisfaction,
    AVG(ea.AVGWorkLifeBalance) AS AVGWorkLifeBalance,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.Age, e.Gender, e.Ethnicity
HAVING AVG(ea.AVGEnvironmentSatisfaction) >= 3 
    AND AVG(ea.AVGJobSatisfaction) >= 3
    AND AVG(ea.AVGRelationshipSatisfaction) >= 3
    AND AVG(ea.AVGWorkLifeBalance) >= 3
ORDER BY e.Age , e.Gender, e.Ethnicity;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [69]:

# group emp average satisfaction then group employees by gender, age and ethnicity (<3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.EnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
        AVG(p.JobSatisfaction) AS AVGJobSatisfaction,
        AVG(p.RelationshipSatisfaction) AS AVGRelationshipSatisfaction,
        AVG(p.WorkLifeBalance) AS AVGWorkLifeBalance
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Age AS AgeGroup,
    e.Gender,
	e.Ethnicity,
    AVG(ea.AVGEnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
    AVG(ea.AVGJobSatisfaction) AS AVGJobSatisfaction,
    AVG(ea.AVGRelationshipSatisfaction) AS AVGRelationshipSatisfaction,
    AVG(ea.AVGWorkLifeBalance) AS AVGWorkLifeBalance,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.Age, e.Gender, e.Ethnicity
HAVING AVG(ea.AVGEnvironmentSatisfaction) < 3 
    OR AVG(ea.AVGJobSatisfaction) < 3
    OR AVG(ea.AVGRelationshipSatisfaction) < 3
    OR AVG(ea.AVGWorkLifeBalance) < 3
ORDER BY e.Age, e.Gender, e.Ethnicity;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [76]:

# Highly Rated Employees with Low Satisfaction
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.EnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
        AVG(p.JobSatisfaction) AS AVGJobSatisfaction,
        AVG(p.RelationshipSatisfaction) AS AVGRelationshipSatisfaction,
        AVG(p.WorkLifeBalance) AS AVGWorkLifeBalance,
		AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    CONCAT(FirstName, ' ', LastName) AS FullName,
    e.JobRole,
    AVG(ea.AVGEnvironmentSatisfaction) AS AVGEnvironmentSatisfaction,
    AVG(ea.AVGJobSatisfaction) AS AVGJobSatisfaction,
    AVG(ea.AVGRelationshipSatisfaction) AS AVGRelationshipSatisfaction,
    AVG(ea.AVGWorkLifeBalance) AS AVGWorkLifeBalance,
    AVG(ea.AVGManagerRating) AS AVGManagerRating
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.FirstName,e.LastName,e.JobRole
HAVING AVG(ea.AVGManagerRating)>=4
	AND(AVG(ea.AVGEnvironmentSatisfaction) < 3 
    OR AVG(ea.AVGJobSatisfaction) < 3
    OR AVG(ea.AVGRelationshipSatisfaction) < 3
    OR AVG(ea.AVGWorkLifeBalance) < 3)
ORDER BY JobRole


"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

### Employee Rating Insights

In this section, we use SQL queries to gain insights into employee ratings, which include both **self-ratings** and **manager ratings**. The goal is to understand how employee ratings vary across different departments, job roles, age groups, genders, and ethnicities. We also identify areas where employee ratings may be below expectations and need attention.

#### 1. High Ratings by Department and Job Role (Average >= 3)
This query groups employees by department and job role and calculates the average self-rating and manager rating for each group. Only those groups with average ratings greater than or equal to 3 are displayed. This helps identify departments and roles with employees who consistently rate their own performance positively and receive high ratings from their managers.

- **Metrics Calculated**:
  - Average Self Rating
  - Average Manager Rating
  - Employee Count per group

#### 2. Low Ratings by Department and Job Role (Average < 3)
This query focuses on employees whose average self-rating or manager rating is below 3. Identifying areas with low ratings helps pinpoint where performance may need improvement, or where additional training and support could be provided.

- **Metrics Calculated**:
  - Average Self Rating
  - Average Manager Rating
  - Employee Count per group

#### 3. High Ratings by Age Group, Gender, and Ethnicity (Average >= 3)
In this query, employees are grouped by age, gender, and ethnicity, and the average self-rating and manager rating are calculated for each demographic group. This helps reveal trends in employee performance ratings across different demographics and ensures that there is no bias in performance evaluations.

- **Metrics Calculated**:
  - Average Self Rating
  - Average Manager Rating
  - Employee Count per group

#### 4. Low Ratings by Age Group, Gender, and Ethnicity (Average < 3)
This query identifies age, gender, and ethnicity groups with low self or manager ratings. This helps in uncovering demographic groups that may require more attention, training, or support to improve their performance.

- **Metrics Calculated**:
  - Average Self Rating
  - Average Manager Rating
  - Employee Count per group

#### Displaying Results
For each of the above queries, the results are loaded into a Pandas DataFrame and displayed in a scrollable format, allowing for easier inspection and analysis of the data within the notebook environment.

This phase of the analysis provides actionable insights into employee performance, helping identify both high and low performers across departments, roles, and demographics.

In [65]:

# group emp average ratings then group employees by department and job role (>=3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.SelfRating) AS AVGSelfRating,
        AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Department,
    e.JobRole,
    AVG(ea.AVGSelfRating) AS AVGSelfRating,
    AVG(ea.AVGManagerRating) AS AVGManagerRating,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition ='No'
GROUP BY e.Department, e.JobRole
HAVING AVG(ea.AVGSelfRating) >= 3 
    AND AVG(ea.AVGManagerRating) >= 3
ORDER BY e.Department, e.JobRole;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [66]:

# group emp average ratings then group employees by department and job role (<3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.SelfRating) AS AVGSelfRating,
        AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Department,
    e.JobRole,
    AVG(ea.AVGSelfRating) AS AVGSelfRating,
    AVG(ea.AVGManagerRating) AS AVGManagerRating,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition ='No'
GROUP BY e.Department, e.JobRole
HAVING AVG(ea.AVGSelfRating) < 3
    OR AVG(ea.AVGManagerRating) < 3
ORDER BY e.Department, e.JobRole;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [70]:

# group emp average ratings then group employees by gender, age and ethnicity (>=3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.SelfRating) AS AVGSelfRating,
        AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Age AS AgeGroup,
    e.Gender,
	e.Ethnicity,
    AVG(ea.AVGSelfRating) AS AVGSelfRating,
    AVG(ea.AVGManagerRating) AS AVGManagerRating,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.Age , e.Gender, e.Ethnicity
HAVING AVG(ea.AVGSelfRating) >= 3 
    AND AVG(ea.AVGManagerRating) >= 3
ORDER BY e.Age, e.Gender, e.Ethnicity;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [71]:

# group emp average ratings then group employees by gender, age and ethnicity (<3)
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.SelfRating) AS AVGSelfRating,
        AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Age AS AgeGroup,
    e.Gender,
	e.Ethnicity,
    AVG(ea.AVGSelfRating) AS AVGSelfRating,
    AVG(ea.AVGManagerRating) AS AVGManagerRating,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.Age, e.Gender, e.Ethnicity
HAVING AVG(ea.AVGSelfRating) < 3
    OR AVG(ea.AVGManagerRating) < 3
ORDER BY e.Age, e.Gender, e.Ethnicity;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

### Experience, Training, and Attrition Analysis

This section covers analysis of employee experience, training opportunities, and attrition rates. Through SQL queries, we explore the relationships between experience and performance, identify employees in long-standing roles, assess training opportunities, and calculate attrition rates by department and job role.

#### 1. Correlation Between Experience and Performance
This query explores the relationship between the number of years employees have been with the company (and in their most recent role) and their average manager ratings. It helps identify whether more experienced employees tend to perform better or if there is any observable correlation.

- **Metrics Calculated**:
  - Job Role
  - Years at Company
  - Years in Most Recent Role
  - Average Manager Rating

#### 2. Employees in the Same Role for Extended Periods
This query identifies employees who have stayed in the same job role for more than four years. This insight is valuable for understanding whether employees who remain in one role for a long time are being considered for promotions or other growth opportunities.

- **Metrics Calculated**:
  - Full Name
  - Job Role
  - Years in Most Recent Role

#### 3. Training Opportunities for Top Performers
Here, we examine how many training opportunities have been taken by top-rated employees (those with a manager rating of 4 or higher). Understanding whether top performers are actively engaging in training can provide insights into employee development efforts.

- **Metrics Calculated**:
  - Full Name
  - Job Role
  - Number of Training Opportunities Taken

#### 4. Training Opportunities and Training Taken by Department and Job Role
This query provides an overview of the average number of training opportunities offered and the number of training opportunities taken by employees, grouped by department and job role. This helps assess the effectiveness of training programs and identify departments or roles with lower training engagement.

- **Metrics Calculated**:
  - Department
  - Job Role
  - Average Training Opportunities Within Year
  - Average Training Opportunities Taken
  - Employee Count

#### 5. Attrition Rate by Department and Job Role
This query calculates the attrition rate by department and job role. The attrition rate is the percentage of employees who have left the company out of the total number of employees in each department and role. This insight helps identify high-turnover areas, which may require further investigation.

- **Metrics Calculated**:
  - Department
  - Job Role
  - Total Employees
  - Employees Who Left
  - Current Employees
  - Attrition Rate (percentage)

#### Displaying Results
For each query, the results are loaded into a Pandas DataFrame and displayed in a scrollable format, allowing for easier inspection and analysis of the data within the notebook environment.

This analysis provides valuable insights into the relationship between experience and performance, the effectiveness of training programs, and department-level attrition rates.

In [78]:

# Is there correlation between experience at company and performance
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.ManagerRating) AS AVGManagerRating
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    CONCAT(FirstName, ' ', LastName) AS FullName,
    e.JobRole,
	e.YearsAtCompany,
	e.YearsInMostRecentRole,
    ea.AVGManagerRating
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.FirstName, e.LastName, e.JobRole, e.YearsAtCompany, e.YearsInMostRecentRole, ea.AVGManagerRating
ORDER BY e.JobRole , ea.AVGManagerRating DESC;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [72]:

# Employees in Same Role for long period
query = """
SELECT CONCAT(FirstName, ' ', LastName) AS FullName, JobRole, YearsInMostRecentRole
FROM Employee
WHERE YearsInMostRecentRole >= 4 AND Attrition = 'No'
ORDER BY YearsInMostRecentRole DESC;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [75]:

# Training opoortunities taken for top rated
query = """
SELECT  
    CONCAT(FirstName, ' ', LastName) AS FullName,
    JobRole,
    COUNT(p.TrainingOpportunitiesTaken) AS TrainingOpportunitiesForTopPerformers
FROM Employee AS e
JOIN PerformanceRating AS p ON e.EmployeeID = p.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.EmployeeID, e.FirstName, e.LastName,JobRole 
HAVING AVG(p.ManagerRating) >= 4
ORDER BY TrainingOpportunitiesForTopPerformers DESC;

"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [67]:

# Trainings opp and Trainings taken
query = """
WITH EmployeeAverages AS (
    SELECT
        p.EmployeeID,
        AVG(p.TrainingOpportunitiesWithinYear) AS AVGTrainingOpportunitiesWithinYear,
        AVG(p.TrainingOpportunitiesTaken) AS AVGTrainingOpportunitiesTaken
    FROM PerformanceRating p
    GROUP BY p.EmployeeID
)
SELECT
    e.Department,
    e.JobRole,
    AVG(ea.AVGTrainingOpportunitiesWithinYear) AS AVGTrainingOpportunitiesWithinYear,
    AVG(ea.AVGTrainingOpportunitiesTaken) AS AVGTrainingOpportunitiesTaken,
    COUNT(e.EmployeeID) AS EmployeesCount
FROM EmployeeAverages ea
JOIN Employee e ON ea.EmployeeID = e.EmployeeID
WHERE e.Attrition = 'No'
GROUP BY e.Department, e.JobRole
ORDER BY e.Department , e.JobRole;
"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)

In [81]:
# attrition rate by department and job role
query = """
SELECT 
	E.Department,
    E.JobRole, 
    COUNT(*) AS TotalEmployees, 
    SUM(CASE WHEN E.Attrition = 'Yes' THEN 1 ELSE 0 END) AS EmployeesLeft,
    SUM(CASE WHEN E.Attrition = 'No' THEN 1 ELSE 0 END) AS CurrentEmployees,
    CAST(ROUND((SUM(CASE WHEN E.Attrition = 'Yes' THEN 1 ELSE 0 END) * 100.0 / COUNT(*)), 2) AS DECIMAL(10,2)) AS AttritionRate
FROM Employee E
GROUP BY E.Department, E.JobRole
ORDER BY AttritionRate DESC;


"""

# Execute the query and load the result into a Pandas DataFrame
df_complex_query = pd.read_sql_query(query, engine)

# Display a scrollable dataframe
def display_scrollable_dataframe(df, max_height=400):
    display(HTML(f'''
        <div style="height:{max_height}px; overflow:auto; border:1px solid lightgray;">
            {df.to_html(index=False)}
        </div>
    '''))

# Display the the result
display_scrollable_dataframe(df_complex_query)